doctype html
html(lang="en")
	head
		title Shopping Sandia
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="css/main.css")
		link(rel="stylesheet" type="text/css" href="css/animate.css")
		link(href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
	body
		section(class="full-height text-center" id="main-content")
			div(class="data")
				div(class="col-md-3 center-block quitar-float text-center espacio-arriba")
					img(src="img/shopping.jpg" class="animated flipInX")
					h1(class="pacifico green grande animated fadeIn retraso-1") Mi tienda de segunda mano
					div(class="animated fadeInDown retraso-2")
						h2 Curso Básico
						nav(class="mediano")
							a(href="/menu" title="Google") Menú 
							a(href="contacto.html" title="Contacto") Contacto
						p Cada día aprendiendo algo nuevo
		script(src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="js/main.js")