doctype html
html(lang="en")
	head
		title Shopping Sandia
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/css/main.css")
		link(rel="stylesheet" type="text/css" href="/css/animate.css")
		link(href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
	body
		
		nav(class="se-gris padding-largo text-center")
			ul(class="no-lista")
				li(class="pacifico col-md-3 inline-block")
					a(href="index.html" title="" class="green") Curso Angular #[small(class="lato small")] Vive, convive y diviértete
				li(class="col-md-3 inline-block")
					a(href="contacto.html" title="") Contacto
				li(class="col-md-3 inline-block")
					a(href="acercade.html" title="") Menú
		block contenido
		