
extends ../layout.jade
block contenido
	div(class="col-md-5 center-block quitar-float text-left espacio-arriba")
		h1 Agregar producto
		form(method="post" action="/menu" style="margin-top:1.5em;" enctype="multipart/form-data")
			div(class="form-group")
				label Nombre
				input(type="text" name="titulo" placeholder="Nombre del artículo" class="form-control")
			div(class="form-group")
				label Descripción
				textarea(name="descripcion" placeholder="Descripción del artículo" class="form-control")
			div(class="form-group")
				label Precio
				input(type="number" name="precio" placeholder="Precio del artículo" class="form-control")
			div(class="form-group")
				label Imagen del producto
				input(type="file" name="avatar")
			div(class="form-group")
				label Contraseña
				input(type="password" name="password" placeholder="Contraseña" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar")